@font-face {
  font-family: KCBubble;
  src: url('./fonts/KCBubbleShack.otf');
}

.App {
  text-align: center;
}

.main-content {
  background-image: url('./img/header-photo.jpg');
  background-size: cover;
  height: 800px;
  background-position: center;
}

.text-heading {
  font-family: 'KCBubble';
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  text-align: center;
  letter-spacing: 0.115em;
  text-transform: uppercase;
  color: #7D938B;
}

.socials {
  justify-content: right;
}

.socials-img {
  padding: 5px
}

p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.nav-bar {
  background-color: #DCB77E;
  justify-content: space-between;
  padding: 5px 20px
}


.btn-primary {
  color: #fff;
  background-color: #791031;
  border: none;
  border-radius: 30px;
  font-family: 'Montserrat'
}

.btn-secondary {
  color: #410014;
  background-color: #BE93A1;
  border: none;
  border-radius: 30px;
  font-family: 'Montserrat'
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: black;
  background-color: #BE93A1;
  border-color: #791031;
}


@media (max-width: 768px) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  .socials{
    display: none;
  }

  .content-button{
    display: none;
  }

  h1{
    font-size: 42px;
  }

  .band-photo{
    padding: 5%
  }

  .text-heading {
    padding-top: 10%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}