@import url('./fonts/fonts.css');

.App {
  text-align: center;
  background-color: #F3BB1B;
}

@font-face {
  font-family: 'BubbleShack';
  src: local('BubbleShack'),
    url('./fonts/KCBubbleShack.otf') format('otf')
}

.heading {
  text-align: center;
  background-color: #161616;
  color: #FBE7D8;
  font-family: KC Bubble Shack;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 63.8px;
  padding-top: 2%;
  padding-left: 2%;
  margin: 50px;
  box-shadow:
  0 0 0 10px #F2A4B7,
  0 0 0 30px #161616;
}

.side-col{
  border: 3px solid #161616;
background: #D5282D;

padding: 30px;
}

.content-row{
  margin: 10px 20px;
}

.flip{
  transform: rotate(-180deg);
}
.btn-primary {
  color: #fff;
  background-color: #791031;
  border: none;
  border-radius: 30px;
  font-family: 'Montserrat'
}

.btn-secondary {
  color: #410014;
  background-color: #BE93A1;
  border: none;
  border-radius: 30px;
  font-family: 'Montserrat'
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  color: black;
  background-color: #BE93A1;
  border-color: #791031;
}